/* Root container */
#root {
  max-width: 1480px;
  margin: 0 auto;
  margin-top: -90px;
  text-align: left;
  box-sizing: border-box;
}

.app-title {
  font-size: 2.5rem;
  font-weight: 750;
  color: white;
  background: linear-gradient(135deg, rgba(102, 106, 234, 0.8), rgba(58, 52, 128, 0.8));
  padding: 1.2rem 2.5rem;
  border-radius: 20px;
  display: inline-block;
  box-shadow: 0 15px 40px rgba(102, 221, 234, 0.4);
  backdrop-filter: blur(10px);
  transition: all 0.3s ease;
}

.app-title:hover {
  transform: translateY(-2px);
}
.headlogo {
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1024px) {
  .app-title {
    font-size: 2rem;
    padding: 1rem 2rem;
  }
}

@media (max-width: 768px) {
  .app-title {
    font-size: 1.7rem;
    padding: 0.8rem 1.5rem;
  }
}
