.app-header {
  position: fixed;
  top: 0;
  left: -14.5rem;
  width: 100%;
  background:none;
  color: rgb(0, 0, 0);
  padding: 1rem 2rem;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-title {
  font-size: 2.3rem;
  font-weight: 750;
  text-decoration: none;
  color: white;
  transition: 0.3s ease;
}

.app-title:hover {
  color: #a9b4ff;
  text-shadow: 0 0 8px rgba(150, 170, 255, 0.8);
}

.headlogo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo{
margin: 2px;
}